@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #0d1116;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-reddit-sans: var(--font-reddit-sans);
	--font-sora: var(--font-sora);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.cursor-dot {
	position: absolute;
	width: 8px;
	height: 8px;
	background: white;
	border-radius: 9999px;
	will-change: transform;
}

.cursor-border {
	position: absolute;
	width: 28px;
	height: 28px;
	border: 1px solid white;
	border-radius: 9999px;
	transition:
		width 0.25s ease,
		height 0.25s ease;
	will-change: transform;
}

.cursor-border.cursor--hover {
	width: 44px;
	height: 44px;
}

pre code span {
  font-family: var(--font-reddit-sans), monospace;
}